# Jekyll ignores
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.jekyll
vendor/
.bundle/

# Ruby/Bundler ignores
.ruby-version
.ruby-gemset
Gemfile.lock  # For GitHub Pages compatibility

# Editor ignores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# OS ignores
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Gemfile.lock
