<div class="certification-logos">
    {% if include.cert == "azure-developer" %}
      <img src="/assets/images/certifications/azure-developer-associate.png" alt="Microsoft Certified: Azure Developer Associate" class="cert-logo" />
    {% elsif include.cert == "scrum-master" %}
      <img src="/assets/images/certifications/certified-scrum-master.png" alt="Certified Scrum Master" class="cert-logo" />
    {% elsif include.cert == "bachelor-it" %}
      <img src="/assets/images/certifications/hogent-logo.png" alt="Bachelor in IT - HoGent" class="cert-logo" />
    {% endif %}
  </div>