<!-- Legal links and copyright in footer -->
<div class="footer-container">
  <p class="copyright">
    &copy; {{ site.time | date: "%Y" }} {{ site.title }}. {{ site.data.i18n[site.active_lang].footer.copyright }}
  </p>
  
  <div class="legal-links">
    {% if site.active_lang == "en" %}
      <a href="/privacy-policy/">{{ site.data.i18n[site.active_lang].footer.privacy }}</a>
      <a href="/cookies/">{{ site.data.i18n[site.active_lang].footer.cookies }}</a>
    {% else %}
      <a href="/privacybeleid/">{{ site.data.i18n[site.active_lang].footer.privacy }}</a>
      <a href="/cookiebeleid/">{{ site.data.i18n[site.active_lang].footer.cookies }}</a>
    {% endif %}
  </div>
</div>

