<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<!-- Main CSS -->
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
<!-- Swiper CSS (for the Projects slider) -->
<link rel="stylesheet" href="https://unpkg.com/swiper@9/swiper-bundle.min.css" />
<!-- Swiper JS (defer load for performance) -->
<script src="https://unpkg.com/swiper@9/swiper-bundle.min.js" defer></script>