<div class="language-switcher-container">
  {% assign current_language = site.t | where: "code", site.active_lang | first %}
  <button class="language-trigger" aria-label="Select Language">
    <span class="language-icon">{{ current_language.icon }}</span>
  </button>
  
  <div class="language-dropdown">
    {% for lang in site.t %}
      {% if lang[0] != site.active_lang %}
        <a href="#" class="language-option" data-lang="{{ lang[0] }}">
          <span class="language-icon">{{ lang[1].icon }}</span>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>