<div class="timeline">
    {% for item in site.data.work_experience[site.lang] %}
    <div class="timeline-item" data-aos="fade-up">
      <div class="content">
        <div class="date">{{ item.date }}</div>
        <h3>{{ item.company }}</h3>
        <ul>
          {% for bullet in item.bullets %}
            <li>{{ bullet }}</li>
          {% endfor %}
          {% if item.extra_details %}
              <details>
                <summary>More details</summary>
                <ul>
                        {% for detail in item.extra_details %}
  
                          <li>
                            {{ detail }}
                          </li>
                        {% endfor %}
                </ul>
              </details>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
  