/* Variables, Reset, Base Light Mode */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #004c8c;
  --accent-color: #00b386;
  --light-gray: #efefef;
  --white: #ffffff;


  --dark-background-color: #333333;
  --dark-text-color: #f2f2f2;
  --dark-primary-color: #333333;
  --dark-accent-color: #00b386;
  --dark-light-gray: #efefef;
  --dark-white: #ffffff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  padding: 0;
}

/* Dark Mode Overrides */
.dark-mode {
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  /* You can also override --primary-color, --accent-color, etc. if you want them different in dark mode. */
}

/* Ensure body picks up the new variables when .dark-mode is active */
.dark-mode body {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}
