---
layout: page
---

    {{ content }}

    <section class="contact-section" >
    <form id="contact-form" action="https://formspree.io/f/xeoaokrq" method="POST" >
           <!-- Name -->
    <div class="form-group">
        <label for="name">Name (min 2 chars):</label>
        <input id="name" name="name" type="text" required />
      </div>
  
    <!-- Email (required) -->
    <div class="form-group">
        <label for="email">Email (Required):</label>
        <input id="email" name="email" type="email" required />
      </div>
  
      <!-- Phone (required) -->
      <div class="form-group">
        <label for="phone">Phone (Required):</label>
        <input id="phone" name="phone" type="tel" required />
      </div>
  
    <!-- Subject (required) -->
    <div class="form-group">
        <label for="subject">Subject (min 2 chars):</label>
        <input id="subject" name="subject" type="text" required />
      </div>
  
      <!-- Message -->
      <div class="form-group">
        <label for="message">Message (min 5 words):</label>
        <textarea id="message" name="message" rows="4" required></textarea>
      </div>
      
          <div id="form-status"></div>
        
        <!-- Informational Text -->
        <p>
            Note: This form uses <a href="https://formspree.io" target="_blank" rel="noopener noreferrer">Formspree</a>. Your data is sent securely through their servers before it reaches my inbox.
        </p>
        
        <button class="g-recaptcha btn-submit" data-sitekey="6LftWvYqAAAAAJlhdPC6YRyCLIRl6PpHQ0KrkItR"
        data-callback='onSubmit' data-action='submit'>Submit</button>

        <div id="form-status"></div>

      </form>

    </section>
      <script src="https://www.google.com/recaptcha/enterprise.js?render=6LftWvYqAAAAAJlhdPC6YRyCLIRl6PpHQ0KrkItR"></script>
      <script src="/assets/js/contactme.js?v={{ site.github.build_revision | default: site.time | date: '%s' }}"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
      <link rel="stylesheet" 
      href="/assets/css/contactme.css?v={{ site.github.build_revision | default: site.time | date: '%s' }}">